html, body{
    /* This restricts the body of each page to the resolution of the Idea Lab monitors*/
    position:relative;
    min-width:1357px;
    min-height:765px;
    width:1357px;
    height:765px;
    max-height:765px;
    overflow-y: visible;
    margin:0px;
    border:0px solid black;

    background-color:#CDE793/*#A3DBB2/*#FFB273/*#67E667#FCE6C9*/;
    z-index:-1;
}

#title{color:white;}

#header{
    position:fixed;
    display:table;
    /*background-color:skyblue; /*bolder color*/
    background-color:#49B53E;/*#269926;/*#FF9640skyblue;*/
    border: 2px solid #ccc;
    height:6em;
    width:98.5%;
    left:.5%;
    border-radius:0px 0px 2em 2em;
    text-align: center;
    z-index:10000;
}

#title{
    /*position:absolute;*/
    display:table-cell;
    width:60%;
    font-size:3em; /*make sure this is bold*/
    /*color:white;*/
    font-weight:bold;
    font-family:sans-serif;
    vertical-align:middle;
    text-shadow: 2px 2px 5px #CDE793/*#A3DBB2*/;
}

#header>.button{
    display:table-cell;
    text-align: center;
    vertical-align:middle;
    width:10%;
}

#header>.button img{
    display:block;
    margin:auto;
    height:75%;
    width:75%;
}

#header>.button a{
    text-decoration: none;
}

#header .section_thumb{
    position:absolute;
    display:table-cell;
    width:10%;
    height:6em;
    overflow: hidden;
    border-radius:1em;
}

#header .section_thumb img{
    height:200%;
    width:200%;
    margin:-30px 0px 0px -65px;
}

#header .section_thumb #networks_thumb{
    margin:-50px 0px 0px -65px;
}

#header>.button a:hover{}

#mainpage{
    position:absolute;
    width:98.5%;
    height:662px;
    margin-top: 6.5em;
    display:inline-block;
    left:.55%;
    */background-color:white; /*make gradient*/
    clear:both;
    z-index:-2;
}

/*Basic thumbnail formatting*/
.thumbnail{
    position:absolute;
    display:block;
    /*text-align:center;*/
    width:15em;
    height:15em;
    border-bottom:4px solid #a65200 /*black*/;
    border-right:4px solid #a65200 /*black*/;
}
.thumbnail img{
    position:absolute;
    display:block;
    width:100%;
    height:100%;
    /*bezel borders: make them pop*/

}

.thumbnail img:hover{
    opacity:.5
}

.thumbnail p{
    display:block;
    position:absolute;

    width:75%;
    height:auto;

    padding:.5em;

    /*captions below images*/
    color: white;
    font: bold 24px Sans-Serif;
    letter-spacing: 0em;

    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.5); /* transparency */

    text-decoration:none;
    border-radius:50px;
}

/*Thumbnail formatting for splashpage*/

#splashpage .thumbnail{
    width:19em;
    height:19em;}
#splashpage .thumbnail p{
    top:8.15em;
}

#splashpage .thumbnail.left{
    float:left;
    clear:left;
    left:12%;
}
#splashpage .thumbnail.left p{
    left:0%;
    border-radius:0em 2em 2em 0em;
}

#splashpage .thumbnail.right{
    float:right;
    clear:right;
    right:12%
}
#splashpage .thumbnail.right p{right:0%;border-radius:2em 0em 0em 2em;        }

#splashpage .thumbnail.top{top:.5em;}

#splashpage .thumbnail.bottom{top:21.5em;}

.CS_splash{
    width:17.5em;
    height:17.5em;
    top:3%;
    position:absolute;
}

#flood{
    left:5%;
}

#hurricane{
    right:5%;
}

#earthquake{
    left:5%;
    top:50%;
}

#surge{
    right:5%;
    top:50%;
}

.cs_caption{
    position:absolute;
    display:block;
    
    padding:10px;
    padding-top:0px;
    
    text-align:center;
    font-family:sans-serif;
    
    border: 4px solid black;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    
    width:40%;
    height:17.5%;
    
    color:white;
    background:gray;
    font-size: 20px;
}

.cs_caption h1{
    padding:0px;
    margin:auto;
    margin-top:20px;
    font-size: 1.5em;
}

.cs_caption p{
    padding:0px;
    margin-top:auto;
}

#flood_cap{
    border-left:none;
    left:26%;
    top:3%;
}

#hurricane_cap {
    top:25.75%;
    right:26%;
    border-top-right-radius: 0em;
    border-bottom-right-radius: 0em;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em; 
    border-right:none;
}

#eq_cap{
    top:50%;
    left:26%;
    border-left:none;
}

#surge_cap{
    top:72.75%;
    right:26%;
    border-top-right-radius: 0em;
    border-bottom-right-radius: 0em;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em; 
    border-right:none;
}

/*Specific thumbnail formatting for risk page*/
#riskpage .thumbnail{
    position:absolute;
    float:right;
    width:25%;
    height:25%;
    display:block;
    text-align:center;
    clear:right;
    right:9%
}

#riskpage .thumbnail img{
    position:absolute;
    display:block;
    width:100%;
    height:100%;
}

#riskpage .thumbnail img:hover{
    opacity:.5
}

#riskpage .thumbnail p{
    display:block;
    width:90%;
    height:auto;
    padding:.5em;
    left:2.5%;
    top:60%;

    /*captions below images*/
    color: white;
    font: bold 20px Sans-Serif;
    letter-spacing: 0em;

    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.3); /* transparency */

}

#riskdef{
    display:block;
    position:relative;
    width:50%;
    height:auto;
    float:left;
    text-align: center;
    top: 1%;
    left: 5%;

    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.3); /* transparency */

    border:solid gray .2em;
}

#riskdef p{
    font-family:sans-serif;
    color:white;
    font-size: 18px;
}

#riskdef h3{
font-family: sans-serif;
}

#riskdef span{
    font-weight: bold;
    font-size:20px;
}

.qc_frame {
    display:block;
    position:relative;
    float:left;
    clear:left;
    border:solid gray .2em;
    overflow:hidden;
    top:0%;
    left:5%;
    width:50%;
    height:50%;
}

.qc_frame iframe {
    position:absolute;
    height:100%;
    width:100%;
}

/*vertical positioning of riskpage thumbnails*/
#accenture {top:5%;}

#NOAA {top:37%;}

#UNGRiD {top:70%;}

/*Specific thumbnail formatting for planning and networks page*/
.plan-net_tn{
    position:relative;
    display:block;
    text-align:center;
    
    border-bottom:4px solid #a65200 /*black*/;
    border-right:4px solid #a65200 /*black*/;
    
    width:17.5%;
    height:30%;
    top:2.5%;
    
    float:left;
    clear:both;
    
}

.plan-net_tn img{
    position:absolute;
    display:block;
    width:100%;
    height:100%;
}

.plan-net_tn img:hover{
    opacity:.5
}

.plan-net_tn p{
    display:block;
    position:absolute;
    width:90%;
    height:auto;
    padding:.5em;
    left:2%;
    top:65%;

    /*captions below images*/
    color: white;
    font: bold 20px Sans-Serif;
    letter-spacing: 0em;

    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.3); /* transparency */

}

.tn_caption {
    position:relative;
    display:block;
    float:right;
    
    padding:10px;
    padding-top:0px;
    
    text-align:center;
    font-family:sans-serif;
    
    border: 2px solid black;
    border-radius: 2em;
    
    top:2.5%;
    width:60%;
    height:25%;
    
    color:white;
    background:gray;
    font-size: 20px;
    
    
}

.tn_caption h1{
    padding:0px;
    margin:auto;
    margin-top:10px;
}

#first_tn{
    left:10%;
}


#first_cap{
    top:4%;
    right:5%;
    margin-right:5%;
}

#second_cap{
    float:left;
    clear:left;
    left:10%;
    top:7%;
}

#second_tn{
    float:right;
    clear:right;
    top:5%;
    right:10%;
}

#third_tn {
    top:7%;
    left:10%;   
}

#third_cap {
    float:right;
    clear:right;
    right:10%;  
    top:9%;
}

#comic_tn{
    height:;
    width:;
}

#mainpage>.qrcode {
    position:absolute;
    width:15em;
    height:15em;
    display:block;
    text-align:center;
    clear:both;
}

#mainpage>.qrcode img{
    position:absolute;
    display:block;
    width:100%;
    height:100%;
}

#mainpage>.qrcode p{
    display:block;
    position:absolute;
    width:75%;
    height:auto;
    margin-left: 13%;

    color: black;
    font: bold 24px Helvetica, Sans-Serif;
    letter-spacing: 0em;

    /*background: rgb(0, 0, 0); /* fallback color
    background: rgba(0, 0, 0, 0.3); /* transparency */

}

#mainpage>.qrcode p:nth-child(2){
    margin-top:11em;
}

#mainpage .horizctr{
    margin-left:42%;
}

#mainpage .vertctr{
    margin-top:15%;
}


/*Default resource_frame formatting*/
.resource_frame {
    position:absolute;
    display:inline-block;

    width:97.5%;
    height:80%;
    margin-top: 8%;
    left:1%;
    border: 0.3em solid black;

    background-color:white;
    clear:both;
    overflow:hidden;
}

.resource_frame iframe {
    position:absolute;
    display: block;
    height:100%;
    width:100%;
    overflow:hidden;
}

/*Accenture DisasterViz resource_frame formatting*/
#accenture .resource_frame {
    position:absolute;
    display:inline-block;

    width:60%;
    height:60%;
    top: 14%;
    left:20%;
    margin:auto;

    border: 0.3em solid black;
    background-color:white;
    clear:both;
    overflow:hidden;
    padding: 0;
}

#accenture .resource_frame iframe {
    position:absolute;
    display: block;
    height:150%;
    width:150%;
    overflow:hidden;
}

/*scale iframe contents*/
#accenture .resource_frame iframe {
        /*scale for multiple browsers*/
        -ms-zoom: 0.75;
        -moz-transform: scale(0.75);
        -moz-transform-origin: 0 0;
        -o-transform: scale(0.75);
        -o-transform-origin: 0 0;
        -webkit-transform: scale(0.75);
        -webkit-transform-origin: 0 0;
    }

#rising_seas_frame {
    position:absolute;
    display:block;
    margin-top:-50px;
    height:107.5%;
    width:100%;
    overflow:hidden;
}

#stopdframe {
    width:55%;
    left:4.5%;
    top:1%;
}



#stopd {
    width:150%;
    height:200%;
    top:-150px;
    left:-185px;
    overflow:visible;
}

.caption {
    position:absolute;
    display:block;

    width:33%;
    height:82%;
    top:15%;
    right:2%;
    font-size:18pt;
    border:0.3em solid skyblue;

    text-align:left;
    font-family:sans-serif;

    clear:right;
}

.caption li{
    padding-top: 10px;
    padding-bottom:10px;
}

.comic{
    top:0.5%;
    left:2%;
    width:95%;
    height:80%;
}

#comic_cap_left{
    top:70%;
    left:3.5%;
    width:20%;
    height:20%;
    background: white;
    border-radius: 10px;
    font-size:20px;
}

#comic_cap_right{
    top:70%;
    right:5%;
    width:20%;
    height:20%;
    background: white;
    border-radius: 10px;
    font-size:20px;
}

#livingwfire {
    height:66%;
    width:44%;
    margin-left:10%;
    top:7.5%;
    overflow:hidden;
}

#gcrisis_cap{
    height:10%;
    border:none;
    width:96.5%;
    left:1%;
    top:90%;
    height:8%;
    background-color:grey;
    color: white;
    font: bold 20px Sans-Serif;
    border:0.3em solid skyblue;
    padding:5px;
}

#accenture_cap{
    height:20%;
    width:60%;
    left:19.5%;
    top:76%;
    background-color:grey;
    padding:5px;
}

#accenture_cap ul{
margin:0;}

#sealevel_cap{
    height:10%;
    width:97.25%;
    left:1%;
    top:88.5%;
    background-color:grey;
}

#sealevel_cap li{
    padding:0px;
}

#sealevel_help1 .caption{
    height:10%;
    width:97.25%;
    left:1%;
    top:88.5%;
    background-color:grey;
    text-align: center;
}

#unisdr_cap{
    height:10%;
    width:98%;
    left:1%;
    top:14%;
    background-color:grey;
    color: white;
    font: bold 20px Sans-Serif;
    border:0.1em solid skyblue;
}

#unisdr_cap p{
    margin:0px;
    padding:5px;
}

#zombie_cap{
    height:7.5%;
    border:none;
    width:90%;
    left:5%;
    top:91.5%;
    background-color:black;
    color: white;
    font: bold 20px Sans-Serif;
    text-align: center;
    border-radius: 10px;
    border: 2px solid grey;
}

#zombie_cap p{
    margin:auto;
}

#fire_caption{
    width:40%;
    height:auto;

    top:35%;

    background-color:grey;
    color: white;
    font: bold 20px Sans-Serif;
    border:0.1em solid skyblue;
}

#stopdisasters_caption{
    width:35%;
    height:auto;

    top:27%;
    left:63%;

    background-color:grey;
    color: white;
    font: bold 20px Sans-Serif;
    border:0.1em solid skyblue;
}

#twitter_share_block{
    position:absolute;
    display:block;

    background:white;
    padding-top:310px;
    padding-left:50px;

    top:34%;
    left:1.5%;
}

.tooltiptext {
    display: none;
    width:340px;
    height:380px;
    text-align:center;
    font-size: 18px;
    font-family:sans-serif;
}

.tooltiptext img {
    margin:10px 10px 10px 10px;
    height: 200px;
    width: 200px;
}

#stakeholders{
    position:relative;
    left:22.5%;
    height:80%;
    width:55%;
}

#stakeholders img{
    position:absolute;
    height:100%;
    width:100%;
}

#stakeholders_cap1{
    height:auto;
    width:20%;
    left:0.5%;
    top:15%;
    background:gray;
}

#stakeholders_cap2{
    height:auto;
    width:20%;
    right:.5%;
    top:15%;
    background:gray;
}

#stakeholders_page p{
margin:0;
padding:5px;
color:white;
}

#draft {
    position:absolute;
    height:5%;
    width:10%;
    background:white;
    top:10%;
    right:15%;
    text-align: center;
    font: bold 20px sans-serif;
}

/*formatting for case study pages*/

html.CS_page{
    /* This restricts the body of each page to the resolution of the Idea Lab monitors
    position:relative;*/
    min-width:1366px;
    min-height:768px;
    width:1366px;
    height:768px;
    max-height:768px;
    overflow-y:visible;
    border:0px solid black;
    z-index=-2;

}


html.CS_page #header{
    position:fixed;
    -webkit-transform: translatez(0);
    z-index:1;
    /*to get rid of top space*/
    /*margin-top:-.5em;*/
}

html.CS_page .cs_pane{
    width:73%;
    margin-left:13.5%;
    margin-right:13.5%;
    position:relative;
    text-align:center;
    clear:both;
}

html.CS_page .cs_pane img, video, object{
    width: 100%;
    z-index=-1;
}

html.CS_page .textbox.left{
    margin-left:auto;

    /*set L/R justify*/
    text-align:left;
    left:0%;
    border-radius:0em 2em 2em 0em;
}

html.CS_page .textbox.right{
    margin-left:auto;

    /*set L/R justify*/
    text-align:right;
    right:0%;
    border-radius:2em 0em 0em 2em;
}

html.CS_page .textbox{
    position:absolute;
    width:45%;
    line-height:1.5;

    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.5); /* transparency */
}

html.CS_page .cs_pane p{
    font-size:1.2em;
    margin:0em;
    padding:.5em;
    color:white;
    font-weight:bold;
}

/*style for first block of text for each panel*/
html.CS_page .cs_pane>:first-child p{
    font-size:1.5em;
    font-weight:bold;
}

/*page-specific formatting*/
#CR_page #blank1{
    height:8.5em;}

#EQ_page #SF1906 object{
    height:40em;
}

#EQ_page #blank1{
height:8.5em;
}

#EQ_page #blank2{
height:8.5em;
}

#EQ_page #blank3{
height:8.5em;
}

#EQ_page #blank4{
height:8.5em;
}

/*set textbox positions for each page*/
#CR_page #rains>:first-child{top:0%;}

#CR_page #rains>:nth-child(2){top:20%;}

#CR_page #rains>:nth-child(3){top:50%;}

#CR_page #rains>:nth-child(4){top:80%;}

#CR_page #flood>:first-child{top:0%;}

#CR_page #flood>:nth-child(2){top:30%;}

#CR_page #flood>:nth-child(3){top:75%;}

#CR_page #volunteer1>:first-child{top:0%;}

#CR_page #volunteer1>:nth-child(2){top:40%;}

#CR_page #volunteer1>:nth-child(3){top:70%;}

#CR_page #volunteer2>:first-child{top:0%;}

#CR_page #volunteer2>:nth-child(2){top:75%;}

/*different textbox width for #nuclear*/
#CR_page #nuclear div{width:45%;}

#CR_page #nuclear>:first-child{top:0%;}

#CR_page #nuclear>:nth-child(2){top:30%;}

#CR_page #nuclear>:nth-child(3){top:50%;}

#CR_page #nuclear>:nth-child(4){top:80%;}

#EQ_page #SF1906>:first-child{top:5%;}

#EQ_page #SF1906>:nth-child(2){top:75%;}

#EQ_page #blank1>:nth-child(2){top:41%;}

#EQ_page #blank2>:nth-child(2){top:21%;}

#EQ_page #blank3>:nth-child(2){top:21%;}

#EQ_page #blank4>:nth-child(2){top:21%;}

/* Textbox formatting for Case Study 2a */

#CR_page #andrew>:first-child{top:0%;}

#CR_page #andrew>:nth-child(2){top:50%;}

#CR_page #andrew>:nth-child(3){top:75%;}

#CR_page #roof>:first-child{top:0%;}

#CR_page #roof>:nth-child(2){top:20%;}

#CR_page #roof>:nth-child(3){top:50%;}

#CR_page #roof>:nth-child(4){top:80%;}

#CR_page #charlie>:first-child{top:0%;}

#CR_page #charlie>:nth-child(2){top:30%;}

#CR_page #charlie>:nth-child(3){top:60%;background-color: black;}

#CR_page #charlie>:nth-child(4){top:75%;}

/*Textbox formatting for case study 2b*/

#CR_page #katrina>:first-child{top:0%;}

#CR_page #katrina>:nth-child(2){top:40%;}

#CR_page #katrina>:nth-child(3){top:75%;}

#CR_page #recovery1>:first-child{top:0%;}

#CR_page #recovery1>:nth-child(2){top:20%;}

#CR_page #recovery1>:nth-child(3){top:60%;}

#CR_page #recovery1>:nth-child(4){top:80%;}

#CR_page #recovery2>:first-child{top:0%;font-size:0.8em;}

#CR_page #recovery2>:nth-child(2){top:20%;}

#CR_page #recovery2>:nth-child(3){top:50%;}

#CR_page #recovery2>:nth-child(4){top:65%;font-size:1.5em;}

/*Textbox formatting for case study 4*/

#CR_page #sandypane>:first-child{top:0%;font-size:0.8em;}

#CR_page #sandypane>:nth-child(2){top:20%;}

#CR_page #sandypane>:nth-child(3){top:50%;}

#CR_page #sandypane>:nth-child(4){top:68.5%;font-size:1.5em;}

#CR_page #palisadebay>:nth-child(1){font-size:0.8em; width:50%;}

#CR_page #palisadebay>:nth-child(2){width:50%; top:85%;}

#CR_page #prefema>:nth-child(1){width:100%; border-radius:0px; top:85%;}

#greeninf{
    background-color:black;
    width:70%;
    left:0.75%;
    opacity:0.7; /* transparency */
    filter:alpha(opacity=70); /* IE transparency */
    line-height:1.5;
    font-size:1.2em;
    padding:.5em;
    color:white;
    font-weight:bold;
}

#florida_tn, #katrina_tn{
    position:absolute;
    width:25em;
    height:25em;
    display:block;
    text-align:center;
    clear:both;
    border-bottom:2px solid black;
    border-right:2px solid black;
}

#florida_tn img, #katrina_tn img{
    display:block;
    position:absolute;
    width:100%;
    height:100%;
    border-bottom:2px solid black;
    border-right:2px solid black;
}

#florida_tn p, #katrina_tn p{
    display:block;
    position:absolute;
    width:75%;
    height:auto;
    padding:.5em;
    left:10%;
    top:70%;

    /*captions below images*/
    color: white;
    font: bold 24px Sans-Serif;
    letter-spacing: 0em;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.3); /* transparency */
}

#florida_tn {
    top:10%;
    left: 10%;   
}

#katrina_tn {
    top:10%;
    right: 10%;
}

video{
z-index=-1;}
