#header{
    position:absolute;
    display:block;
    background-color:skyblue;
    border: 1px solid #ccc;
    height:10%;
    width:98.5%;
    margin-left:0%;
    margin-right:0%;
    border-radius:0px 0px 20px 20px;
    padding-top:5px;
    text-align: center;
}

#title{
    position:absolute;
    display:block;
    width:auto;
    margin:0% 30% 0% 30%;
    font-size:2em;
    color:white;
    font-weight:bold;
    font-family:Garamond, sansserif;
}


#header>.leftbutton{
    position:absolute;
    display:inline-block;

    height:90%;
    width:10%;
    margin:0% 0% 0% 2%;
    text-align:center;

    float:left;
}

#header>.leftbutton img{
    position:static;
    display:block;
    height:80%;
    width:100%;
}

#header>.leftbutton p{
    z-index=1;
    display:block;
    position:static;
    margin:0% 0% 0% 0%;
    width:100%;
    text-align: center;
}

#home{}


#mainpage{
    position:absolute;
    width:98.5%;
    height:90%;
    margin-top: 10%;
    display:inline-block;
    background-color:white;
    clear:both;
}

.thumbnail{
    position:absolute;
    width:40%;
    height:40%;
    display:block;
    text-align:center;
    clear:both;
}

.thumbnail.top{
    margin-top:5%;
}

.thumbnail.bottom{
    margin-top:50%;
}

.thumbnail.left{
    margin-left:5%;
}

.thumbnail.right{
    margin-left:55%;
}

.thumbnail.middle{
    margin-left:28%;
}

.thumbnail img{
    position:absolute;
    display:block;
    width:100%;
    height:100%;

}

img:hover{
    opacity:.5
}


.thumbnail p{
    display:inline;
    position:absolute;
    top:40%;
    left:40%;
   color: white;
   font: bold 24px/45px Helvetica, Sans-Serif;
   letter-spacing: -1px;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px;
}

.thumbnail p:nth-child(2){
    font-size:32;
}

.thumbnail p:nth-child(3){
    font-size:32;
}
